body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 150px;
    margin-bottom: 20px;
}

.slogan {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
}

.donation-section {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.qr-section img {
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 0;
}

.impact-section, .volunteer-section, .social-media {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px 0 0 23%;
    width: 50%;
    font-weight: 800;
    text-decoration: underline;
}

.impact-section h2, .volunteer-section h2, .social-media h2 {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

.links a {
    font-size: 40px;
    margin: 40px;
}

.links a:nth-child(1) {
    color: red;
}
.links a:nth-child(2) {
    color: blue;
}
.links a:nth-child(3) {
    color: #fd1d1d
}
